@charset "utf-8";
/* CSS Document */
#calculadora
{
  width:196px;
  margin:0px;
  padding:10px;
  background:#80FFFF;
}
.pantalla
{
  background:#0F0;
  color:#FF0;
  padding:5px 10px;
  margin:0px;
  text-align:right;
  border-radius:10px;
  height:20px;
}
.teclado
{
	margin:0px;
	padding:0px;
	height:196px;
}
.teclas
{
	list-style:none;
	margin:0;
	padding:0;
	
}
.boton
{
	margin:2px;
	padding:0;
	color:#8080FF;
	font:bold 15pt arial;
	text-align:center;
	background-color:#2EB7EB;
	width:45px;
	height:45px;
	border-radius:10px;
	float:left;
	alignment-adjust:central;
	alignment-baseline:baseline;
}

	
	
