div.mover
{
 width:50px;
 height:50px;
 background:red;
 position:relative;
 -webkit-animation:animar 7s infinite;
 }
@-webkit-keyframes animar
{
 from{top:0px;}
 to{top:200px;}
}
#girar
 {
  position:absolute;
  -webkit-animation:giro 8s 1;
  -webkit-border-radius:5px;
 }
@-webkit-keyframes giro
{
 0%{-webkit-transform:rotate(0deg);}
100%{-webkit-transform:rotate(360deg);}
}
